# Python
backend/venv/
backend/__pycache__/
backend/*.pyc
backend/*.pkl
backend/students.db

# Node / React
frontend/node_modules/
frontend/dist/
frontend/.vite/

# OS files
.DS_Store
Thumbs.db
*.log

# IDE
.vscode/
.idea/
